/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

/* Page Layout */
body {
    background: #f5f7fa;
    padding: 40px;
    color: #2c3e50;
}

/* Page Title */
h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #1565C0;
    text-align: center;
    font-weight: 700;
}

a.edit-btn {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #1976D2;
    border-radius: 20px;
    color: #1976D2;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

a.edit-btn:hover {
    background-color: #1976D2;
    color: white;
    box-shadow: 0 2px 8px rgba(25, 118, 210, 0.4);
    transform: translateY(-1px);
}

/* Table Styling */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
}

th {
    background-color: #1565C0;
    color: white;
    padding: 14px;
    font-size: 16px;
    
}

td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    font-size: 15px;
}

tr:hover td {
    background: #e8f1fd;
    transition: 0.2s;
}

/* Info Text */
.info {
    margin: 20px auto 10px;
    text-align: center;
    font-size: 15px;
    color: #555;
}

